# SIATA AUTOMATION DOWNLOAD SYSTEM (LOAD)
<b>By: <em>David Serna</em></b><br>
<b><em>Data Scientist and Data Engineer</em></b>

If you want to know more about the project, what is SIATA and the motivations to make this repository, please [visit](https://github.com/dsernag/siata_automation) it

Also, here is my LinkedIn profile: [<img width="25px" src="../imgs/linkedIn_PNG32.png" alt="LinkedinLogo"/>](https://www.linkedin.com/in/dsernag/)

This is open source code, so you can use it, but remember to be etic and if is possibly, cite it.Â©

## Configure your environment

I highly recommend to create an isolated Python environment, for sanity check, replication purposes and as a learning activity. Also is required to install wget for Windows users.

### Conda environment

I love [miniconda](https://docs.conda.io/en/latest/miniconda.html), is light and portable and allow an easly manipulation of environments. If you don't install conda, please at least create an independt environment in Python, here is the [documentation](https://docs.python.org/3/library/venv.html).

After install miniconda, create a environment this way (This command is valid for any operating system):

```bash
conda create -n siata python=3.9 selenium=4.5.0 ipykernel beautifulsoup4 pandas numpy matplotlib seaborn mysql-connector-python sqlalchemy
```

There is also a `requirements.txt` file to install via pip

### MySQL

In this exercise we are going to use MySQL to provide a RDBMS system. Depending on your specific OS there is a specific installation method, [HERE](https://dev.mysql.com/doc/refman/8.0/en/installing.html) is the documentation.

Please be sure that you are allow to enter in the MySQL Shell:

```bash
mysql -u root -p
```

And be here with me:

<img src="../imgs/mysql_init.png" width="600px">


Now we are ready to begin!ðŸš€ðŸš€ðŸš€

<b>NOTE:</b> This notebook is not intended no be used in a row. Is intended to be executed line by line, with supervision and understanding the process.

## Load CSV to a RDBMS

### Enter to MySQL CLI
This is one of the easiest parts of the ETL process. We already have a unique csv file, now it's time to put it on MySQL.

The first step was done before. In the mysql console let's write and enter:

```SQL
CREATE DATABASE siata;
```

### Create a table and insert records

We send a SQL sentence to create a table if doesn't exists where we going to insert the data:

```sql
USE siata;
CREATE TABLE IF NOT EXISTS pm25 (date DATE, station INT, pm25 FLOAT, index_quality FLOAT);
```

Now we will use this command:

```sql
LOAD DATA CONCURRENT LOCAL INFILE '/home/dsg/siata_automation/data/stage/1605-2208-historic-air.csv' REPLACE
INTO TABLE pm25
FIELDS TERMINATED BY ','
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 ROWS;
```

Wow! We did it! That was interesting. Let's make a query:

<img src="../imgs/mysql_query.png" width="400px">

This was the final step on creating and ETL process. Let's continue diving into data and found some insights in the [EDA.ipynb](EDA.ipynb) notebook.

This is open source code, so you can use it, but remember to be etic and if is possibly, cite it.Â©